#content{
    width: 1080px;
    background-color: #efefef;
    margin: 0 auto;
    padding: 30 20;
    font-family: Arial, Helvetica, sans-serif;
}

#menu.a, #menu.a:hover, #menu.a:focus, #menu.a:active {
    text-decoration: none;
    color: inherit;
}

